<!doctype html>
<html>

<head>
    <title>client</title>
</head>

<body>

    <h1>模拟收集页面</h1>

</body>
<style>
    pre {
        font-family: monospace;
        background-color: #f5f5f5;
        color: #333;
        padding: 10px;
        border-radius: 5px;
    }
</style>
<script>
	window.ws = new WebSocket("ws://127.0.0.1:3000?versionName=ios-test-0.1&fingerprint=666666")

</script>

</html>	
